.idea
.DS_Store
/Resources/Gulp/node_modules/
/Resources/Gulp/bower_components/
/Resources/Public/Css/style.min.css.map
/Resources/Public/Css/style.min.css
/Resources/Public/JavaScript/config.min.js
/Resources/Public/JavaScript/vendor.min.js
/Resources/Gulp/package-lock.json
