<f:section name="LazyLoadImage">
	<img src="{f:uri.image(src: 'EXT:startpilot/Resources/Public/Images/blank.gif')}"
		 data-src="{f:uri.image(image: file ,maxWidth: settings.maxImgWidth)}"
		 data-large="{f:uri.image(image: file, cropVariant: 'default', maxWidth: 1140)}"
		 data-desktop="{f:uri.image(image: file, cropVariant: 'default', maxWidth: 992)}"
		 data-tablet="{f:uri.image(image: file, cropVariant: 'tablet', maxWidth: 720)}"
		 data-mobile="{f:uri.image(image: file, cropVariant: 'mobile', maxWidth: 720)}"
		 title="{file.title}" alt="{file.alternative}" class="lazyload img-responsive"
		 data-preload="{f:if(condition: settings.preload.images, then: 'true', else: 'false')}" />
</f:section>

<f:section name="PictureSrcset">
	<f:if condition="{file}">
		<f:if condition="{fallbackWidth}">
			<f:else>
				<f:variable name="fallbackWidth" value="1480" />
			</f:else>
		</f:if>
		<f:if condition="{min1480}">
			<f:else>
				<f:variable name="min1480" value="1920" />
			</f:else>
		</f:if>
		<f:if condition="{max1479}">
			<f:else>
				<f:variable name="max1479" value="1479" />
			</f:else>
		</f:if>
		<f:if condition="{max1279}">
			<f:else>
				<f:variable name="max1279" value="1279" />
			</f:else>
		</f:if>
		<f:if condition="{max991}">
			<f:else>
				<f:variable name="max991" value="991" />
			</f:else>
		</f:if>
		<f:if condition="{max767}">
			<f:else>
				<f:variable name="max767" value="767" />
			</f:else>
		</f:if>
		<f:if condition="{max480}">
			<f:else>
				<f:variable name="max480" value="480" />
			</f:else>
		</f:if>
		<f:if condition="{max375}">
			<f:else>
				<f:variable name="max375" value="375" />
			</f:else>
		</f:if>
		<picture>
			<source srcset="{f:uri.image(image: file, maxWidth: min1480, cropVariant: 'default')}" media="(min-width: 1480px)">
			<source srcset="{f:uri.image(image: file, maxWidth: max1479, cropVariant: 'default')}" media="(max-width: 1479px)">
			<source srcset="{f:uri.image(image: file, maxWidth: max1279, cropVariant: 'default')}" media="(max-width: 1279px)">
			<source srcset="{f:uri.image(image: file, maxWidth: max991, cropVariant: 'tablet')}" media="(max-width: 991px)">
			<source srcset="{f:uri.image(image: file, maxWidth: max767, cropVariant: 'tablet')}" media="(max-width: 767px)">
			<source srcset="{f:uri.image(image: file, maxWidth: max480, cropVariant: 'mobile')}" media="(max-width: 480px)">
			<source srcset="{f:uri.image(image: file, maxWidth: max375, cropVariant: 'mobile')}" media="(max-width: 375px)">
			<!---Fallback--->
			<img class="img-responsive" src="{f:uri.image(image: file, maxWidth: fallbackWidth, cropVariant: 'default')}" alt="{file.alternative}" title="{file.title}">
		</picture>
	</f:if>

	<f:comment>
		<f:render partial="PictureSrcset" arguments="{file:image, min1480:1920,max1479:1479,max1279:1279,max991:991,max767:767,max480:480,max375:375,fallbackWidth:1480}" />
		<f:render partial="PictureSrcset" arguments="{file:image}" />
	</f:comment>
</f:section>