<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="Default" />

	<f:section name="Main">
		<f:render partial="ContentElements/Headline" arguments="{header:data.header,layout:data.header_layout}" />
		<div class="row">
			<f:switch expression="{data.imageposition}">
				<f:case value="top">
					<div class="col-md-12">
						<f:render section="ImageRender" arguments="{_all}" />
					</div>
					<div class="col-md-12">
						{data.bodytext -> f:format.html()}
					</div>
				</f:case>
				<f:case value="bottom">
					<div class="col-md-12">
						{data.bodytext -> f:format.html()}
					</div>
					<div class="col-md-12">
						<f:render section="ImageRender" arguments="{_all}" />
					</div>
				</f:case>
				<f:case value="right">
					<div class="col-md-6">
						{data.bodytext -> f:format.html()}
					</div>
					<div class="col-md-6">
						<f:render section="ImageRender" arguments="{_all}" />
					</div>
				</f:case>
				<f:case value="left">
					<div class="col-md-6">
						<f:render section="ImageRender" arguments="{_all}" />
					</div>
					<div class="col-md-6">
						{data.bodytext -> f:format.html()}
					</div>
				</f:case>
			</f:switch>
		</div>
	</f:section>

	<f:section name="ImageRender">
		<f:if condition="{settings.typo3version} == 8">
			<f:then>
				<f:for each="{images}" as="file">
					<f:render partial="ImageRender" section="{settings.imagerendering}" arguments="{file:file}" />
				</f:for>
			</f:then>
			<f:else>
				<f:render partial="SrcsetImage" section="SrcsetImage" arguments="{image:images.0,maxWidth:2500}" />
			</f:else>
		</f:if>
	</f:section>
</div>