@import "../../Gulp/bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "scss_includes/content-elements";

img.lazyload {
  opacity: 0.3;
  transition: (opacity .3s ease-in 0s);
}

body {
  background-color: #ffffff;
  color: #333333;
}
